<div class=container>
<a href="#" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: 0px; margin-right: 22px; ">Filters</a>  
<a href="<%= rating_items_path %>"  class="btn btn-outline-secondary rating" style="margin-right: 10px; width: 128px; height: 36px;">Rating: 4.0+</a>
<a href="<%= veg_items_path %>" class="btn btn-outline-secondary outdoor" style="margin-right: 10px; width: 126px; height: 36px;">Pure veg</a>
<!DOCTYPE html>
<html lang="en">
<body>
<a href="#"  class="btn btn-outline-secondary " id="openModal">cuisine</a>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="top:100px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cuisines</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
      <div style="position: relative;">
          <input type="text" autocomplete="on" class="search" style="width: 470px; padding-right: 20px;" value="">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#B5B5B5" width="17" height="17" viewBox="0 0 20 20" aria-labelledby="icon-svg-title- icon-svg-desc-" role="img" class="sc-rbbb40-0 fajqkJ clear-icon" style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px;">
              <title>cross</title>
              <path d="M11.42 10.42l3.54-3.54c0.38-0.4 0.38-1.040 0-1.42s-1.020-0.4-1.42 0l-3.54 3.54-3.54-3.54c-0.4-0.4-1.020-0.4-1.42 0s-0.38 1.020 0 1.42l3.54 3.54-3.54 3.54c-0.38 0.38-0.38 1.020 0 1.42 0.2 0.18 0.46 0.28 0.72 0.28s0.5-0.1 0.7-0.28l3.54-3.56 3.54 3.56c0.2 0.18 0.46 0.28 0.72 0.28s0.5-0.1 0.7-0.28c0.38-0.4 0.38-1.040 0-1.42l-3.54-3.54z"></path>
          </svg>
      </div>
  </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Clear</button>
      <button type="button" class="btn btn-primary" id="applyFilters">Apply</button>
    </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('openModal').addEventListener('click', function() {
    $('#exampleModal').modal('show');
  });
  const inputField = document.querySelector('.search');
  const clearIcon = document.querySelector('.clear-icon');
  clearIcon.addEventListener('click', () => {
      inputField.value = '';
  })
</script>
</body>
</html>
</div>
<div class="container">
  <div style="max-width: 1519px; height: 300px; border: 1px solid #ccc; padding: 10px; margin-top: 30px">
    <h2>Restaurants Serving <%= params[:item_name] %></h2>
    <%= link_to show_restaurants_restaurant_items_path(item_name: 'Idly'), style: 'margin-left: 30px; display: inline-block; text-align: center; text-decoration: none;' do %>
      <div style="border-radius: 50%; overflow: hidden;">
        <%= image_tag("https://b.zmtcdn.com/data/dish_images/d9766dd91cd75416f4f65cf286ca84331634805483.png", alt: "Idly", width: "150", height: "150" ) %>
      </div>
      <p style="margin-top: 15px;">Idly</p>
    <% end %>    
    <%= link_to show_restaurants_restaurant_items_path(item_name: 'Dosa'), style: 'margin-left: 35px; display: inline-block; text-align: center; text-decoration: none;' do %>
      <div style="border-radius: 50%; overflow: hidden;">
        <%= image_tag("https://b.zmtcdn.com/data/o2_assets/8dc39742916ddc369ebeb91928391b931632716660.png", alt: "Dosa", width: "150", height: "150") %>
      </div>
      <p style="margin-top: 15px;">Dosa</p>
    <% end %>
    <%= link_to show_restaurants_restaurant_items_path(item_name: 'Biryani'), style: 'margin-left: 35px; display: inline-block; text-align: center; text-decoration: none;' do %>
      <div style="border-radius: 50%; overflow: hidden;">
        <%= image_tag("https://b.zmtcdn.com/data/dish_images/d19a31d42d5913ff129cafd7cec772f81639737697.png", alt: "Biryani", width: "150", height: "150") %>
      </div>
      <p style="margin-top: 15px;">Biryani</p>
    <% end %>    
    <%= link_to show_restaurants_restaurant_items_path(item_name: 'Mutton biryani'), style: 'margin-left: 35px; display: inline-block; text-align: center; text-decoration: none;' do %>
      <div style="border-radius: 50%; overflow: hidden;">
        <%= image_tag("https://b.zmtcdn.com/data/dish_images/197987b7ebcd1ee08f8c25ea4e77e20f1634731334.png", alt: "Mutton Biryani", width: "150", height: "150") %>
      </div>
      <p style="margin-top: 15px;">Chicken</p>
    <% end %>    
    <%= link_to show_restaurants_restaurant_items_path(item_name: 'Pizza'), style: 'margin-left: 35px; display: inline-block; text-align: center; text-decoration: none;' do %>
      <div style="border-radius: 50%; overflow: hidden;">
        <%= image_tag("https://b.zmtcdn.com/data/o2_assets/d0bd7c9405ac87f6aa65e31fe55800941632716575.png", alt: "Pizza", width: "150", height: "150") %>
      </div>
      <p style="margin-top: 15px;">Pizza</p>
    <% end %>    
  </div>
</div>