
<div class="container ">
    <div style="width: 300px; height: 71px;" class=" row">
      <img alt="illustration" src="https://b.zmtcdn.com/data/o2_assets/30fa0a844f3ba82073e5f78c65c18b371616149662.png" loading="lazy" class="logo col-4" >
      <h3 class="out col-8">Dining Out</h3>
    </div> 
    <ul class="list-group">
    <div class="row">
    <h3>Collections</h3>
    <div class="row">
    <div class="col-md-9">
      <h5 class="weight">Explore curated lists of top restaurants,cafes,pubs,and bars in Bengaluru,based on trends</h5>
    </div>
    <div class="col-md-3">
      <span>All Collections in Bengaluru</span>
    </div>
    <div class="container">
  <div class="row">
    <div class="col-md-3">
      <a class="nav-link" href="<%= newly_opened_restaurants_path  %>">
        <div class="card" style="width: 260px; height: 320px;">
          <div class="card-body">
            <h5 class="card-title" style="margin-top: 250px;">Newly Opened Restaurants</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a class="nav-link" href="<%= best_rated_restaurants_path %>">
        <div class="card" style="width: 260px; height: 320px;">
          <div class="card-body">
            <h5 class="card-title" style="margin-top: 250px;">Best in Banglore</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
    <a class="nav-link" href="<%= rooftop_restaurants_path %>">
      <div class="card" style="width: 260px; height: 320px;">
        <div class="card-body">
          <h5 class="card-title" style="margin-top: 250px;">Serena Rooftop Places</h5>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
  <a class="nav-link" href="<%= trending_restaurants_path %>">
    <div class="card" style="width: 260px; height: 320px;">
      <div class="card-body">
        <h5 class="card-title" style="margin-top: 250px;">Trending Restaurant</h5>
      </div>
    </div>
  </a>
</div>
</div>
<div class="row">
    <div style="width: 1100px; height: 80px; margin-top: 35px; display: flex; align-items: center;">
        <div class="sc-cgzHhG crXbPI" style="margin-right: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="63" height="18" role="img"></svg>
        </div>
        <a href="#" class="filters" style="margin-right: 10px; width: 96px; height: 36px;">Filters</a>
        <a href="#" class="gold" style="margin-right: 10px; width: 96px; height: 36px;">Gold</a>
        <a href="<%= rating_restaurants_path %>" class="rating" style="margin-right: 10px; width: 128px; height: 36px;">Rating: 4.0+</a>
        <a href="<%= outdoor_seating_restaurants_path %>" class="outdoor" style="margin-right: 10px; width: 126px; height: 36px;">Outdoor Seating</a>
        <a href="<%= serves_alcohol_restaurants_path %>" class="serves" style="margin-right: 10px; width: 115px; height: 36px;">Serves Alcohol</a>
        <a href="#" class="open" style="width: 88px; height: 36px;">Open Now</a>
    </div>
    <img src="https://b.zmtcdn.com/data/o2_assets/da94405b04f6ae6bf64a4e2a01b1b5c11686563732.png" alt="image">
</div>









  