<div class="container ">
    <div style="width: 300px; height: 71px;" class=" row">
      <img alt="illustration" src="https://b.zmtcdn.com/data/o2_assets/30fa0a844f3ba82073e5f78c65c18b371616149662.png" loading="lazy" class="logo col-4" >
      <h3 class="out col-8">Dining Out</h3>
    </div> 
    <a href="<%= delivery_items_path %>" style="width: 300px; height: 71px;" class="row">
  <img alt="illustration" src="https://b.zmtcdn.com/data/o2_assets/c0bb85d3a6347b2ec070a8db694588261616149578.png?output-format=webp" loading="lazy" class="logo col-4" style="left: 279px; bottom: 66px;">
  <h3 class="out col-8" style="left: 263px; bottom: 69px;">Delivery</h3>
</a>
    <h3>Collections</h3>
    <div class="row">
    <div class="col-md-9">
      <h5 class="weight">Explore curated lists of top restaurants,cafes,pubs,and bars in Bengaluru,based on trends</h5>
    </div>
    <div class="col-md-3">
      <span>All Collections in Bengaluru</span>
    </div>
    </div>
    <div class="container">
  <div class="row">
    <div class="col-md-3">
      <a class="nav-link" href="<%= newly_opened_restaurants_path  %>">
        <div class="card" style="width: 260px; height: 320px;">
          <div class="card-body">
            <h5 class="card-title" style="margin-top: 250px;">Newly Opened Restaurants</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a class="nav-link" href="<%= best_rated_restaurants_path %>">
        <div class="card" style="width: 260px; height: 320px;">
          <div class="card-body">
            <h5 class="card-title" style="margin-top: 250px;">Best in Banglore</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
    <a class="nav-link" href="<%= rooftop_restaurants_path %>">
      <div class="card" style="width: 260px; height: 320px;">
        <div class="card-body">
          <h5 class="card-title" style="margin-top: 250px;">Serena Rooftop Places</h5>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
  <a class="nav-link" href="<%= trending_restaurants_path %>">
    <div class="card" style="width: 260px; height: 320px;">
      <div class="card-body">
        <h5 class="card-title" style="margin-top: 250px;">Trending Restaurant</h5>
      </div>
    </div>
  </a>
</div>
</div>
<div class="row">
    <div style="width: 1100px; height: 80px; margin-top: 35px; display: flex; align-items: center;">
        <div class="sc-cgzHhG crXbPI" style="margin-right: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="63" height="18" role="img"></svg>
        </div>
        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: 0px;margin-right: 22px;margin-bottom: 12px;">  Filters  </a>  
        <a href="btn btn-primary filters" class="gold" style="margin-right: 10px; width: 96px; height: 36px;">Gold</a>
        <a href="<%= rating_restaurants_path %>" class="rating" style="margin-right: 10px; width: 128px; height: 36px;">Rating: 4.0+</a>
        <a href="<%= outdoor_seating_restaurants_path %>" class="outdoor" style="margin-right: 10px; width: 126px; height: 36px;">Outdoor Seating</a>
        <a href="<%= serves_alcohol_restaurants_path %>" class="serves" style="margin-right: 10px; width: 115px; height: 36px;">Serves Alcohol</a>
        <a href="#" class="open" style="width: 88px; height: 36px;">Open Now</a>
    </div>
      <img src="https://b.zmtcdn.com/data/o2_assets/da94405b04f6ae6bf64a4e2a01b1b5c11686563732.png" alt="image">
    </div>
    <h3> Marthalli restaurants,Banglore </h3>
    <% if @restaurants.any? %>
    <div class="restaurant-grid row">
      <% @restaurants.each do |restaurant| %>  
          <div class="col-md-4 mb-4">
            <div class="restaurant-card">
              <div class="card h-100" onmouseover="highlightCard(this)" onmouseout="unhighlightCard(this)">
                <div class="card-body">
                  <h6 class="card-title"><strong>Restaurant: <%= restaurant.name %></strong></h6>
                  <p class="card-text">Address: <%= restaurant.address %></p>
                  <p class="card-text">Cuisine: <%= restaurant.cuisine %></p>
                  <p class="card-text">Rating: <span class="badge badge-success"><%= restaurant.rating %> <i class="sc-1q7bklc-5 kHxpSk"></i></span></p>
                </div>
              </div>
            </div>
          </div>  
      <% end %>
    </div>
  <% else %>
    <p>No restaurants found.</p>
  <% end %>  
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <section class="sorting-section">
              <h5>Filter Options</h5>
              <style>
                  .hidden {
                      display: none;
                  }
              </style>
          </head> 
          <body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="links-column">
                <a href="#" class="link" data-target="popularityOptions">Sort</a><br>
                <a href="#" class="link" data-target="cuisinesOptions">Cuisines</a><br>
                <a href="#" class="link" data-target="ratingOptions">Rating</a><br>
                <a href="#" class="link" data-target="moreFiltersOptions">More Filters</a>
            </div>
        </div>
        <div class="col-md-9">
        <div class="options-column">
            <div id="popularityOptions" class="options hidden">
            <label><input type="radio" name="sortOption" value="rating_asc"> Popularity: Popularity</label><br>
            <label><input type="radio" name="sortOption" value="rating_desc"> Rating: High to Low</label><br>
            <label><input type="radio" name="sortOption" value="cost_asc"> Cost: Low to High</label><br>
            <label><input type="radio" name="sortOption" value="cost_desc"> Cost: High to Low</label><br>
            <label><input type="radio" name="sortOption" value="distance_asc"> Distance</label><br>
        </div>
            <div id="cuisinesOptions" class="options hidden">
            <label><input type="radio" name="cuisinesOptions" value="4">India</label><br>
            <label><input type="radio" name="cuisinesOptions" value="3">japan</label><br>
            </div>
            <div id="ratingOptions" class="options hidden">
                <label><input type="radio" name="ratingOption" value="4"> 4+</label><br>
                <label><input type="radio" name="ratingOption" value="3"> 3+</label><br>
                <label><input type="radio" name="ratingOption" value="2"> 2+</label><br>
                <label><input type="radio" name="ratingOption" value="1"> 1+</label><br>
            </div>
            <div id="costOptions" class="options hidden">
                <!-- Cost sorting options -->
                Cost options 
            </div>
            <div id="moreFiltersOptions" class="options hidden">
                <!-- More filters options -->
                More filters options
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Clear</button>
      <button type="button" class="btn btn-primary" id="applyFilters">Apply</button>
    </div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      const links = document.querySelectorAll('.link');
      links.forEach(link => {
          link.addEventListener('click', function(event) {
              event.preventDefault();
              const targetId = this.getAttribute('data-target');
              const targetOptions = document.getElementById(targetId);
              const optionsColumns = document.querySelectorAll('.options-column .options');
              optionsColumns.forEach(column => {
                  if (column === targetOptions) {
                      column.classList.remove('hidden');
                  } else {
                      column.classList.add('hidden');
                  }
              });
          });
      });
  });
</script>

