<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p>User: <%= @cart.user.email %></p>
      <h2>Cart Items:</h2>
      <ul class="list-group">
        <% @cart_items.each do |cart_item| %>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <strong>Item Name:</strong> <%= cart_item.item.name %><br>
                <strong>Quantity:</strong>
                <div class="row">
                  <div class="col-1">
                    <%= form_for(:item, url: decrement_cart_quantity_cart_path(id: cart_item.item.id), method: :post, remote: true) do |f| %>
                      <%= f.submit "-", class: "custom-button" %>
                    <% end %>
                  </div>
                  <div class="col-1">
                    <%= cart_item.quantity %>
                  </div>
                  <div class="col-1">
                    <%= form_for(:item, url: increment_cart_quantity_cart_path(id: cart_item.item.id), method: :post, remote: true) do |f| %>
                      <%= f.hidden_field :item_id, value: cart_item.item.id %>
                      <%= f.submit "+", class: "custom-button" %>
                    <% end %>
                  </div>
                </div>
                <strong>Price:</strong> $<span class="item-price"><%= cart_item.item.price * cart_item.quantity %></span><br>
              </div>
              <%= link_to "Delete", delete_cart_item_path(cart_item), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>