<!DOCTYPE html>
<html>
  <head>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-md-2">
      <img src="https://b.zmtcdn.com/web_assets/b40b97e677bc7b2ca77c58c61db266fe1603954218.png" tabindex="0" class="sc-yvzia9-6 hxTfPc" width="129" height="27">
    </div>
    <div class="col-md-7">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- Location -->
            <i class="fa fa-map-marker"></i>
            <%= turbo_frame_tag "location_modal" do %>
              <%= text_field_tag 'location', nil, class: 'form-control', placeholder: 'Enter location', style: 'margin-left: 32px;' %>
            <% end %>
          </div>
          <div class="col-md-8">
            <%= text_field_tag 'search', nil, class: 'form-control', placeholder: 'Search for restaurant, cuisine or a dish' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= link_to new_user_session_path, class: 'btn me-2', remote: true, data: { turbo_frame: 'login_modal' } do %>
        Log in
      <% end %>
      <a href="<%= new_user_registration_path %>" class="btn">Sign up</a>
    </div>
  </nav>
  <div class="container">
  <a href="home-page-url" class="button home-button">Home</a> /
  <a href="india-page-url" class="button india-button">India</a> /
  <a href="bengaluru-restaurants-url" class="button bengaluru-button">Bengaluru Restaurants</a>
</div>
</div>
    <title>Zomato</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
</div>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= form_tag(destroy_user_session_path, method: :delete, data: { turbo_frame: "sign-out-frame" }) do %>
        <%= submit_tag "Sign Out" %>
      <% end %>
    <% else %>
    <% end %>
    <%= stylesheet_link_tag 'application', 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <%= turbo_frame_tag "modal" %>
    <div class="container ">
    <%= link_to root_path do %>
      <div style="width: 300px; height: 71px;" class="row">
        <img alt="illustration" src="https://b.zmtcdn.com/data/o2_assets/30fa0a844f3ba82073e5f78c65c18b371616149662.png" loading="lazy" class="logo col-4">
        <h3 class="out col-8">Dining Out</h3>
      </div>
    <% end %>
    
    <a href="<%= delivery_items_path %>" style="width: 300px; height: 71px;" class="row">
  <img alt="illustration" src="https://b.zmtcdn.com/data/o2_assets/c0bb85d3a6347b2ec070a8db694588261616149578.png?output-format=webp" loading="lazy" class="logo col-4" style="left: 279px; bottom: 66px;">
  <h3 class="out col-8" style="left: 263px; bottom: 69px;">Delivery</h3>
</a>
    <%= yield %>
  </body>
</html>


